@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 .fade-in {
      opacity: 0; /* Começa invisível */
      animation: fadeIn 2s forwards;
    }

html,body{
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  flex-direction: column;
   
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; /* Tipo de letra */
  background-color: #f4f6f8;          /* Cor de fundo */
  color: #333;                        /* Cor do texto */
  line-height: 1.6;                   /* Espaçamento entre linhas */
  overflow-x: hidden; 
  background-image:linear-gradient(to right, rgb(47, 114, 208),rgb(43, 153, 222));
  
}



img {
  max-width: 100%;
  height: auto;
}

article{
    min-width: 300px;
    padding-right: 0px;
    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
 margin: auto;
  width: 100%;
}

header{
    position: sticky;
    top: 0;
   z-index: 1000;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
   margin-bottom: 30px;
}

.botoes{
 margin-top: 20px;
 display: inline-block;
 
 width: 100%;
 text-align: center;

 
}
.botao{
  
  background-color: #348edc;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
  width: 250px;
  height: 50px;
  
}
.botao:hover{
  background-color: #007bff5c;
}

/* HEADER */
.container-header{
    
    padding-left: 0px;
  padding-bottom: 0px;
   display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background-color: rgb(30, 104, 189);
  

}

.container-header-titulo{
 color: white;
 font-size: 16px;
}

.container-header-menu{
    padding: 40px 20px 40px 0px;
    
}

nav{
    
   display: flex;
    
}

nav > a{
    margin: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}


/* MAIN */

main{
    width: 100%;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    display: flex;
}



/* INDEX - MAIN */
.container-main-article-principal{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: 900px;
    height: 300px;
    margin: auto;
    padding: 0%;
    
}

.container-main-h1-PF{
    font-size: 24px;
    width: 100%;
}

a
{
  text-decoration: none;
}

.container-main-p-p1{
    font-size: 16px;
    width: 100%;
}

/*CALENDÁRIO - MAIN*/

 
.container-main-article-calendario{
     width: 100%;
     margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.container-main-calendario{
     
    margin: auto;
  margin-bottom: 20px;
  padding:10px;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 por linha */
  gap: 10px; /* espaço entre blocos */
  max-width: 1000px; /* opcional, para limitar largura total*/
  box-sizing: border-box;
}

.container-main-h1-calendario{
    width: 100%;
    padding-top: 3px;
 color: white;
 text-align: center;
 margin: auto;
 
}



.dia-da-semana {
  padding-top: 10px;
  width: 100%;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1%;
  color: white;
  max-width: 180px;
}

.dia{
    width: 100%;
    margin-top: 10px;
    height: auto;
    color: white
}



.s{
    max-width: 100%;
    width: 100%;
    display: inline-block;
    background-color: #348edc;
    padding: 10px;
    width: 100%;
    text-align: center;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    max-width: 1000px;
    transition: all 1s ease; 
}

.s > p{
        width: 100%;
    display: none;
    font-size: 13px;
    max-width: 150px;
 }

.s:hover{
    width: 100%;
    padding: 10px;
    border: 10px;
    margin: 10px;
    height: auto;
    cursor: grab;
    transform: scale(1.1);
}

.s:hover > p{
        width: 100%;
        cursor:grab;
        display: inline-block;
        color: white;
        width: 150px;
        font-weight: bold;
}

/* RELATÓRIO MAIN */
.container-main-relatorio{
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    text-align: left;
    width: 100%;
    height: auto;
    width: 700px;
    height: 100%;
    display: flex;
    padding: 0%;
    padding-left: 10px;
    margin-bottom: 10px;
    
    
    
}

.container-main-summary{
    margin-top: 10px;
    
   margin-right: 340px;
   
   width: 100%;
   
   
}

.container-main-summary-p{
    font-size: 15px;
    width: 480px;
    width: 95%;
    
    
}

#titulo-relatorio{
  font-size: 30px;
}
#info-relatorio{
  background-color: #ccc;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  width: 95%;
  margin-right: 12px;
}

/* CONTACTO - MAIN */


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #2a658f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #2a658f92;
}

/* Add a background color and some padding around the form */
.container {
    
    width: 600px;
    margin: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}


.container-main-background-contacto{
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
}

.chat-toggle {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 24px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  cursor: pointer;
  z-index: 10000;
}

.chat-box {
  width: 320px;
  max-height: 400px;
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  z-index: 999;
}

.chat-header {
  background: #007bff;
  color: white;
  padding: 12px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.bot-message, .user-message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  max-width: 90%;
}

.bot-message {
  background-color: #e6f0ff;
  align-self: flex-start;
}

.user-message {
  background-color: #007bff;
  color: white;
  text-align: right;
  align-self: flex-end;
}

.question-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.question-buttons button {
  padding: 8px;
  border: none;
  background: #f1f1f1;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.question-buttons button:hover {
  background: #ddd;
}

/*FOOTER*/

footer{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.618);
    z-index: 1000;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2); 
    
}
.container-footer-h2{
    font-size: 13px;
     text-align: center;
    color: white;
}

@media (max-width: 500px) {

  /* HEADER */
  .container-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .container-header-titulo {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }

  .container-header-menu {
    padding: 10px 0;
  }

  nav {
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
  }

  nav > a {
    margin: 5px 0;
    font-size: 14px;
  }

  /* MAIN */
  article {
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }

  main {
    width: 100%;
    padding: 10px;
  }

  .container-main-article-principal {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .container-main-h1-PF {
    font-size: 24px;
  }

  .container-main-p-p1 {
    font-size: 16px;
  }

  /* CALENDÁRIO */
  .container-main-calendario {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    padding: 0 10px;
  }

  .s {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
  }

  .s > p {
    font-size: 12px;
  }

  /* RELATÓRIO */
  .container-main-relatorio {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .container-main-summary {
    margin-right: 0;
    margin-top: 10px;
  }

  .container-main-summary-p {
    width: 100%;
    font-size: 14px;
  }

   /*CHAT BOT*/
  .chat-toggle {
  position: fixed;
  bottom: 90px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  cursor: pointer;
  z-index: 10000;
}

.chat-box {
  width: 170px;
  max-height: 200px;
  position: fixed;
  bottom: 130px;
  right: 20px;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  z-index: 999;
}

.chat-header {
  background: #007bff;
  color: white;
  padding: 6px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.chat-messages {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
}

.bot-message, .user-message {
  margin: 5px 0;
  padding: 5px;
  border-radius: 8px;
  max-width: 90%;
}

.bot-message {
  background-color: #e6f0ff;
  align-self: flex-start;
}

.user-message {
  background-color: #007bff;
  color: white;
  text-align: right;
  align-self: flex-end;
}

.question-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
}

.question-buttons button {
  padding: 4px;
  border: none;
  background: #f1f1f1;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.question-buttons button:hover {
  background: #ddd;
}

  /* FOOTER */
  .container-footer-h2 {
    font-size: 11px;
    padding: 10px;
  }
}

@media (max-width: 1055px) {
  /* HEADER */
  .container-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .container-header-titulo {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }

  .container-header-menu {
    padding: 10px 0;
  }

  nav {
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
  }

  nav > a {
    margin: 5px 0;
    font-size: 14px;
  }

  /* MAIN */
  article {
    margin: auto;
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }
 .dia-da-semana{
    
    display: none;
 }
  main {
    width: 100%;
    padding: 10px;
  }

  .container-main-calendario {
    grid-template-columns: 1fr; /* 1 por linha no telemóvel */
    margin: auto;
  }

  .s {
    margin: auto;
    width: 95%;
    width: 180px;
    max-width: none;
    font-size: 14px;
    padding-right: 10px;
  }
  .s:hover{
    width: 50%;
    margin: auto;
  }

  .container-main-relatorio,
  .container-main-article-principal {
    width: 90%;
    height: auto;
    margin: 10px auto;
  }

  .container-main-relatorio{
    width: 700px;
  }
  .container-main-summary-p {
    width: 95%;
    
    
  }

  footer h2 {
    font-size: 12px;
    padding: 10px;
  }
}

